:root {
    --main_colour: rgba(0, 233, 233, 1);
    --accent: rgba(0, 235, 197, 1);
    --initScale: 1;
}

body {
    background-color: var(--main_colour);
    max-width: 100vw;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.DownloadBut {
    width: 25vw;
    height: 7vw;
    max-width: 36vh;
    max-height: 10vh;
    min-width: 180px;
    min-height: 50px;
    font-family: Outfit, serif;
    font-size: min(2.9vw, 3.8vh);
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 90px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: rgba(255,255,255,0.98);
    color: rgba(0,200,200);
    margin: 9.8vh auto auto auto;
    display: flex;
    align-items: center;
    animation: enterSizeAnim 1.5s;
}

.DownloadBut:hover {
    color: rgb(0,170,170);
    box-shadow: 0 3px 40px rgba(0,0,0, 0.2);
    background-color: rgba(255,255,255,1);
//color: #fff;
    transform: translateY(-7px) scale(1.02);
    font-size: max((calc(min(2.3vw, 30px) + 4px)), 29px);
}

@keyframes enterUpAnim{
    0%{ opacity: 0; transform : translateY(6vh) }
    100%{ opacity: 1; transform : translateY(0em) scale(--initScale) }
}

@keyframes enterSizeAnim{
    0%{ opacity: 0; transform : scale(1.1) }
    100%{ opacity: 1; transform : scale(--initScale) }
}

@keyframes enterFadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; transform : scale(--initScale) }
}

body,
div {
    margin: 0;
    border: 0 none;
    padding: 0;
}

html,
body,
#topBack {
    height: 100%;
    //min-height: 100%;
}

#topBack {
    background: rgb(0,233,233);
    background: -moz-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: -webkit-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e9e9",endColorstr="#00ebc5",GradientType=1);
    
    margin: auto;
    max-height: 80vw;
    overflow: hidden;
    justify-content: center;
    transition: all 0.5s ease 0s;
}

#topLogo {
    min-width: 70vw;
    max-height: 20vh;
    width: 55%;
    margin: min(9vw,20vh) auto 0 auto;
    object-fit: contain;
    display: flex;
    animation: enterFadeAnim 0.3s;
}

#topText {
    font-family: Outfit, serif;
    color:rgba(255,255,255,0.8);
    font-size: max(min(2.4vw,2.9vh),1vh);
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 0 5vw 0 5vw;
    text-align: center;
    text-wrap: normal;
    animation: enterFadeAnim 0.6s;
}

#sc1 {
    position:absolute;
    width: min(90vw, min(75vw, 120vh));
    margin: min(calc(23vw + 33vh), 74vh) calc(calc(100% - min(90vw, min(75vw, 120vh)))/2) auto;
    object-fit: contain;
    display: flex;
    animation: enterUpAnim 1s;
    filter: drop-shadow(0px 0px 40px rgba(0,0,0,0.3));
    transition: all 0.1s ease 0s;
    transform: scale(0.95);
    --initScale: 0.95;
}

#secBack{
    height: 80vh;
    background-color: white;
    max-width: 100vw;
    overflow: hidden;
}

#topBound{
    height: 10vh
}

@media only screen and (orientation: portrait){
    .DownloadBut {
        margin: 3vh auto auto auto;
    }
    .DownloadBut:hover {
        font-size: max((calc(min(2vw, 30px) + 4px)), 22px);
    }
    #sc1{
        margin: calc(5vh + 42vw) calc(calc(100% - min(90vw, min(75vw, 120vh)))/2) auto;
    }
    #topBack {
        height: 66vw;
    }
}