body {
    background-color: var(--main_colour);
    max-width: 100vw;
    overflow-x: hidden;
}

.DownloadBut {
    width: 100%;
    height: 100%;
    font-family: Outfit, serif;
    font-size: min(2.9vw, 3.8vh);
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 90px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s, visibility 0s;
    cursor: pointer;
    outline: none;
    background-color: rgba(255,255,255,0.98);
    color: rgba(0,200,200);
    margin: 0;
    animation: enterSizeAnim 1.5s;
}

.DownloadBut:hover {
    color: rgb(0,170,170);
    box-shadow: 0 3px 40px rgba(0,0,0, 0.2);
    background-color: rgba(255,255,255,1);
    transform: translateY(-7px) scale(1.02);
    font-size: min(3.2vw, 4vh);
}

.TopOBut {
    width: 100%;
    height: 100%;
    font-family: Outfit, serif;
    font-size: max(min(2.2vw, 3.2vh),16px);
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 1px;
    border-color: rgba(255,255,255,0.7);
    border-style:solid;
    border-width: min(0.6vw, 0.6vh);
    border-radius: 90px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s, visibility 0s;
    cursor: pointer;
    outline: none;
    background-color: rgba(255,255,255,0);
    color: rgba(255,255,255,0.8);
    margin: 0;
}

.TopOBut:hover {
    color: rgb(0,170,170);
    box-shadow: 0 3px 40px rgba(0,0,0, 0.2);
    background-color: rgba(255,255,255,1);
    transform: translateY(-7px) scale(1.02);
}

body,
div {
    margin: 0;
    border: 0 none;
    padding: 0;
    max-width: 100vw;
    //overflow-x: hidden;
}

html,
body,
#topBack {
    height: 100vh;
}

html {
  //overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

#scDiv{
    width: 100%;
    margin: 0px auto auto 0px;
    //overflow:hidden;
    animation: enterSizeAnim 0.1s;
}

#topBack {
    background: rgb(0,233,233);
    background: -moz-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: -webkit-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e9e9",endColorstr="#00ebc5",GradientType=1);
    
    margin: 0;
    max-height: 72vw;
    justify-content: center;
    transition: all 0.5s ease 0s, max-width 0s;
}

#topIdleBack{
    width: 100%;
    height: 100%;
    z-index: 5;
    position:fixed;
}

#topLogo {
    min-width: 70vw;
    max-height: 20vh;
    width: 55%;
    margin: min(9vw,20vh) auto 0 auto;
    object-fit: contain;
    display: flex;
    animation: enterFadeAnim 0.3s;
}

#topText {
    font-family: Outfit, serif;
    color:rgba(255,255,255,0.8);
    font-size: max(min(2.4vw,2.9vh),1vh);
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 0 5vw 0 5vw;
    text-align: center;
    text-wrap: normal;
    animation: enterFadeAnim 0.6s;
}

#topButtons{
    width: fit-content;
    margin: 9.8vh auto;
    overflow: visible;
    animation: enterSizeAnim 1.5s;
}

#gitButt{
    width: 5vw;
    height: 5vw;
    max-width: 8vh;
    max-height: 8vh;
    min-width: 45px;
    min-height: 45px;
    
    margin-right: min(2vw, 3vh);
    vertical-align: middle;
    
    display: inline-block;
    position:relative;
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
}
#gitLogo{
    width: 100%;
    opacity: 0.8;
    position:absolute;
    margin:auto;
    top:0vh;right:0;bottom:0;left:0;
    transition: all 0.3s ease 0s, visibility 0s;
}
#gitLogo:hover{
    opacity: 1;
    transform: translateY(-7px) scale(1.02);
    filter: drop-shadow(0px 3px 40px rgba(0,0,0,0.2));
}

#donButt{
    width: 16vw;
    height: 5vw;
    max-width: 24vh;
    max-height: 8vh;
    min-width: 120px;
    min-height: 45px;
    
    margin-right: min(2vw, 3vh);
    vertical-align: middle;
    
    display: inline-block;
}

#downButt{
    width: 25vw;
    height: 7vw;
    max-width: 36vh;
    max-height: 10vh;
    min-width: 180px;
    min-height: 50px;
    
    margin-right: min(2vw, 3vh);
    vertical-align: middle;
    
    display: inline-block;
}

#startButt{
    width: 16vw;
    height: 5vw;
    max-width: 24vh;
    max-height: 8vh;
    min-width: 120px;
    min-height: 45px;
    
    margin-right: min(2vw, 3vh);
    vertical-align: middle;
    
    display: inline-block;
}

#helpButt{
    width: 5vw;
    height: 5vw;
    max-width: 8vh;
    max-height: 8vh;
    min-width: 45px;
    min-height: 45px;
    
    vertical-align: middle;
    transition: all 0.3s ease 0s, visibility 0s;
    
    display: inline-block;
}
#helpButt:hover{
    transform: rotateZ(7deg);
}

#sc1 {
    position:absolute;
    width: min(90vw, min(75vw, 120vh));
    margin: min(calc(23vw + 33vh), 74vh) calc(calc(100% - min(90vw, min(75vw, 120vh)))/2) auto;
    object-fit: contain;
    display: flex;
    animation: enterUpAnim 1s;
    filter: drop-shadow(0px 0px 40px rgba(0,0,0,0.3));
    transition: all 0.1s ease 0s;
    transform: scale(0.95);
    --initScale: 0.95;
    backdrop-filter: blur(7px);
    border-radius: min(1.3vw, min(1vw, 2.6vh));
    z-index: 10;
}

#secBack{
    height: 300vh;
    background-color: white;
    max-width: 100vw;
    //overflow: hidden;
}

#topBound{
    height: 10vh;
    max-height: 8vw;
    min-width: 100vw;
}

#getStartedBack {
    max-width: 200vh;
    margin: min(29vh, 15vw) auto 0 auto;
}

@media (width < 100vh){
    #topButtons {
        margin: 3vh auto auto auto;
    }
    #sc1{
        margin: calc(5vh + 42vw) calc(calc(100% - min(90vw, min(75vw, 120vh)))/2) auto;
    }
    #topBack {
        height: 66vw;
    }
    #gitButt, #helpButt{
    width: 6vw;
    height: 6vw;
    min-width: 6vw;
    min-height: 6vw;
    }
    #downButt{
        width: 25vw;
        min-width: 0;
    }

    #donButt, #startButt{
    width: 20vw;
    height: 6vw;
    min-width: 20vw;
    min-height: 6vw;
    }
    .TopOBut{
        font-size: 2.7vw;
    }
}
@media (width < 80vh){
    .DownloadBut{
        font-size: 3.9vw;
    }
    .DownloadBut:hover{
        font-size: 4.3vw;
    }
    #topButtons{
        margin: 4vh auto auto auto;
    }
    #downButt{
        width: 36vw;
        height: 11vw;
    }
    #sc1{
        margin: calc(7vh + 40vw) calc(calc(100% - min(90vw, min(75vw, 120vh)))/2) auto;
        width: 120vw;
    }
    #topBack {
        height: 85vw;
    }
    #getStartedBack {
    margin: 34vw 0px 0px 0px;
    }
    #gitButt, #gitLogo, #helpButt{
        min-width: 0;
        min-height: 0;
        width: 0;
        height: 0;
        visibility:collapse;
    }
    #donButt, #startButt{
    width: 22vw;
    height: 8vw;
    min-width: 22vw;
    min-height: 8vw;
    }
}