:root {
    --main_colour: rgba(0, 233, 233, 1);
    --accent: rgba(0, 235, 197, 1);
}

body {
    background: rgb(0,233,233);
    background: -moz-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: -webkit-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e9e9",endColorstr="#00ebc5",GradientType=1);
}

.DownloadBut {
    width: 20vw;
    height: 6vw;
    min-width: 160px;
    min-height: 50px;
    font-family: Outfit, serif;
    font-size: calc(1.7vw + 12px);
    min-font-size: 200px;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 350;
    border: none;
    border-radius: 90px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: rgb(0,150,150);
    margin: 6.5vh auto auto auto;
    display: flex;
    align-items: center;
}

.DownloadBut:hover {
//background-color: #2EE59D;
    box-shadow: 0 3px 25px rgba(0,0,0, 0.15);
//color: #fff;
    transform: translateY(-5px);
}

body,
div {
    margin: 0;
    border: 0 none;
    padding: 0;
}

html,
body,
#topBack {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: var(--main_colour);
}

#topBack {
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

#topLogo {
    min-width: 70vw;
    max-height: 175px;
    width: 55%;
    margin: 5vw auto 0 auto;
    object-fit: contain;
    display: flex;
}

#topText {
    font-family: Outfit, serif;
    color:rgba(255,255,255,0.8);
    font-size: max(min(2.6vw,36px),22px);
    width: fit-content;
    margin: 3vh auto 0 auto;
    padding: 0 10vw 0 10vw;
    text-align: center;
    text-wrap: normal;
}

#sc1 {
    min-width: 500px;
    width: 75vw;
    margin: 12vh auto auto;
    object-fit: contain;
    display: flex;
}

@media (max-width: 700px){
    body {
        background-color: red;
    }
}