<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clickett.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clickett.Properties.Settings>
            <setting name="doAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modeInt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="burstCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="clickInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="uiScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hkCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="totalClicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="countTotal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="normalOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="clickingOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="jitter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="welcomed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </Clickett.Properties.Settings>
    </userSettings>
</configuration>