:root {
    --main_colour: rgba(0, 233, 233, 1);
    --accent: rgba(0, 235, 197, 1);
}

body {
    background: rgb(0,233,233);
    background: -moz-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: -webkit-linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    background: linear-gradient(180deg, var(--main_colour) 0%, var(--accent) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e9e9",endColorstr="#00ebc5",GradientType=1);
}

.DownloadBut {
    width: 25vw;
    height: 7vw;
    max-width: 36vh;
    max-height: 10vh;
    min-width: 180px;
    min-height: 50px;
    font-family: Outfit, serif;
    font-size: max((calc(min(2.5vw, 35px) + 4px)), 22px);
    justify-content: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 90px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: rgb(0,150,150);
    margin: 9vh auto auto auto;
    display: flex;
    align-items: center;
    animation: enterSizeAnim 1.5s;
}

.DownloadBut:hover {
    color: rgb(0,100,100);
    box-shadow: 0 3px 40px rgba(0,0,0, 0.2);
//color: #fff;
    transform: translateY(-5px);
}

@keyframes enterUpAnim{
    0%{ opacity: 0; transform : translateY(6vh) }
    100%{ opacity: 1; transform : translateY(0em)}
}

@keyframes enterSizeAnim{
    0%{ opacity: 0; transform : scale(1.1) }
    100%{ opacity: 1; transform : translateY(1)}
}

@keyframes enterFadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

body,
div {
    margin: 0;
    border: 0 none;
    padding: 0;
}

html,
body,
#topBack {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: var(--main_colour);
}

#topBack {
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

#topLogo {
    min-width: 70vw;
    max-height: 175px;
    width: 55%;
    margin: 8vw auto 0 auto;
    object-fit: contain;
    display: flex;
    animation: enterFadeAnim 0.3s;
}

#topText {
    font-family: Outfit, serif;
    color:rgba(255,255,255,0.8);
    font-size: max(min(2.9vw,36px),22px);
    width: fit-content;
    margin: 3vh auto 0 auto;
    padding: 0 5vw 0 5vw;
    text-align: center;
    text-wrap: normal;
    animation: enterFadeAnim 0.6s;
}

#sc1 {
    min-width: 500px;
    max-width: 120vh;
    width: 75vw;
    margin: 12vh auto auto;
    object-fit: contain;
    display: flex;
    animation: enterUpAnim 2.5s;
}

@media (max-width: 700px){
    body {
        background-color: red;
    }
}